@import url('../../styles/global.css');

.dropdown-area {
  display: flex;
  align-items: start;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 200px;
}

.dropdown-area.error .dropdown,
.dropdown-area.error .select-items-list {
  border-color: var(--color-system-caution);
}

.dropdown-area.error .message {
  color: var(--color-system-caution);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-primary-lighter);
  border-radius: 5px;
  padding: 7.25px 8px;
  height: auto;
  background-color: var(--color-background-general);
}

.dropdownText {
  display: block;
  flex-shrink: 0;
  text-overflow: ellipsis;
  line-break: unset;
}

.dropdownText {
  display: block;
  flex-shrink: 0;
  text-overflow: ellipsis;
  line-break: unset;
}

/* select-selected 관련 css */
.select-selected {
  border: none;
  width: 100%;
  height: auto;
  padding: 0px;
  color: var(--color-grayscale-5);
  background-color: var(--color-background-general);
  font: var(--font-caption-1r-pc);
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.select-selected-button {
  content: '';
  width: 20px;
  height: 12px;
  background-image: url('./dropdownbutton.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.select-selected.selected-option {
  color: var(--color-grayscale-black);
}

/* message 관련 css */
.message {
  width: fit-content;
  margin-top: 4px;
  padding-left: 3px;
  color: var(--color-primary-darker);
  font: var(--font-caption-1r-pc);
  white-space: nowrap;
}

/* select-items-list 관련 css*/
.select-items-list {
  position: absolute;
  top: 105.9%;
  border: 1px solid var(--color-primary-lighter);
  border-radius: 5px;
  padding: 6px 4px;
  width: fit-content;
  height: auto;
  background-color: var(--color-background-general);
  gap: 2px;
  /* Scroll 기능 추가 */
  max-height: 200px;
  overflow: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.select-items-list::-webkit-scrollbar {
  width: 4px;
}

.select-items-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
}

/* select-item 관련 css */
.select-item {
  border: 0;
  width: 100%;
  height: 22px;
  padding: 0px 6px;
  background-color: var(--color-background-general);
  color: var(--color-grayscale-black);
  font: var(--font-caption-1r-pc);
  border-radius: 4px;
  text-align: left;
  white-space: nowrap;
}

.select-item:hover {
  background-color: var(--color-primary-main);
  color: var(--color-grayscale-white);
}
