@import '../../styles/global.css';

.stepper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 0px;
}

.stepWrapper {
  display: flex;
  gap: 0px;
  width: 100%;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.between {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 16px 16px;
  width: 100%;
  position: relative;
}

.hr {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc;
}
