@import url('../../styles/global.css');

.page-nation-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filter-sort-area {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.left-group {
  display: flex;
  gap: 4px;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.switch-label {
  font: var(--font-caption-3l-pc);
}

.table-area {
  width: 100%;
  overflow-x: auto;
}
.table {
  border-collapse: collapse;
  min-width: 524px;
}
.table-small-cell {
  min-width: 80px;
  white-space: nowrap;
}

.table-medium-cell {
  min-width: 100px;
  white-space: nowrap;
}

.table-large-cell {
  min-width: 150px;
  white-space: nowrap;
}
