.filter-sort-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.right-group {
  display: flex;
}

.page-nation-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
