.page-nation-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filter-sort-area {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.left-group {
  display: flex;
  gap: 4px;
}

.right-group {
  display: flex;
}

.table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
