.text {
  color: #111928;
  font: var(--font-caption-1b-pc);
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  text-decoration: none;
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
}
