@import '../../styles/global.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px 0px 0px;
}

.sectionTitle {
  font: var(--font-subtitle-1b-pc);
  margin: 0px;
}

.description {
  font: var(--font-caption-1r-pc);
  margin: 0px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.inputLabel {
  font: var(--font-caption-1b-pc);
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table td:nth-child(1),
.table th:nth-child(1) {
  width: 4%;
}

.table td:nth-child(2),
.table th:nth-child(2) {
  width: 8%;
}

.table td:nth-child(3),
.table th:nth-child(3) {
  width: 12%;
}

.table td:nth-child(4),
.table th:nth-child(4) {
  width: 12%;
}

.table td:nth-child(5),
.table th:nth-child(5) {
  width: 12%;
}

.table td:nth-child(6),
.table th:nth-child(6) {
  width: 12%;
}

.table td:nth-child(7),
.table th:nth-child(7) {
  width: 12%;
}

.table td:nth-child(8),
.table th:nth-child(8) {
  width: 12%;
}

.table_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tableHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0px;
  padding-right: 4px;
}

.withMarginTop {
  margin-top: 20px;
}

.deleteButton {
  display: flex;
  align-items: center;
}

.unitText {
  font: var(--font-caption-2r-pc);
}

.inputCell {
  padding: 6px 4px !important;
  width: 100%;
}

.changedCell {
  padding: 6px 4px !important;
  background-color: #ecffd4 !important;
}

thead td:hover {
  background-color: var(--color-primary-lightest) !important;
  cursor: default;
}

.errorMessage {
  font: var(--font-caption-1r-pc);
  color: var(--color-system-caution);
  /* margin-bottom: 20px; */
}
