.input-container {
  width: fit-content;
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;

  font: var(--font-caption-1r-pc);
}

.input-container.default > input,
.input-container.default > button {
  border-color: var(--color-primary-lighter);
}
.input-container.error > input,
.input-container.error > button {
  border-color: var(--color-system-caution);
}
.input-container.ok > input,
.input-container.ok > button {
  border-color: var(--color-system-dark);
}

.input-container > input,
.input-container > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-background-general);

  width: 225px;
  height: 32px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 7.25px 8px;
}

.input-text {
  border: 0;
  padding: 0;
  margin: 0;

  font: var(--font-caption-1r-pc);

  display: inline;
  width: max-content;
  height: fit-content;

  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

.input-message {
  flex: 0;
  padding-left: 3px;
  font: var(--font-caption-1r-pc);
  white-space: nowrap;
}

.input-container.default .input-message {
  color: var(--color-primary-darker);
}
.input-container.error .input-message {
  color: var(--color-system-caution);
}
.input-container.ok .input-message {
  color: var(--color-system-dark);
}
