@import url('./global.css');

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  font: var(--font-caption-2r-pc);
  box-shadow: var(--shadow);
}

thead td {
  background-color: var(--color-primary-lightest);
  color: var(--color-primary-darker);
}

thead td:hover {
  background-color: var(--color-primary-lighter);
}

tbody td {
  background-color: var(--color-background-general);
}

tbody td:hover {
  background-color: var(--color-grayscale-1);
}

td {
  width: 100%;
  padding: 13.5px 12px;
  text-align: center;
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

tr {
  display: flex;
  justify-content: space-between;
}

tbody tr {
  border-bottom: 1px solid var(--color-grayscale-1);
}
