@import url('../../styles/global.css');

.filters,
.filters * {
  box-sizing: border-box;
}

.title {
  font: var(--font-caption-1b-pc);
  text-align: left;
}

.label {
  font: var(--font-caption-1r-pc);
}

.filters {
  background: #ffffff;
  border-radius: 6px;
  /* border : 1px solid var(--color-primary-lighter); */
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 322px;
  box-shadow: var(--shadow);
}

.dropdownWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.plusButton {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 24.47px;
  height: 32px;
  aspect-ratio: 24.47/32;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.plusButton:hover {
  background-color: #e0e0e0; /* 더 어두운 회색 */
}

.plus {
  color: var(--primary-main, #40afff);
  text-align: center;
  font-family: 'Suit-Bold', sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 32px;
}

.filterWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.filter {
  background: var(--primary-main, #40afff);
  border-radius: 50px;
  padding: 6px 8px 6px 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  height: 28px;
}

.filterName {
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 16px;
  position: relative;
  color: var(--grayscale-white, #ffffff);
  text-align: left;
  font: var(--font-caption-1r-pc);
}

.removeButton {
  all: unset;
  display: flex;
  flex-direction: column;
}

.removeButton:hover {
  background-color: #e0e0e0; /* 더 어두운 회색 */
}

.remove {
  color: var(--system-caution, #ff325f);
  text-align: left;
  font: var(--font-caption-1r-pc);
  position: relative;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.registerWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 32px;
  position: relative;
}
