.mobileApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: unset;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  gap: 4px;
  overflow-y: scroll;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;
  overflow-x: visible;
}
