.dashboard {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.leftColumn {
  width: 50%;
  display: grid;
  flex-direction: column;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.rightColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.fullHeightCard {
  grid-column: 1;
  grid-row: 2 / span 2;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.halfChartTop {
  grid-column: 2;
  grid-row: 2;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
}

.halfChartBottom {
  grid-column: 2;
  grid-row: 3;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.04);
}

.topCard {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}
