@import url('../../styles/global.css');

.navbar {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid var(--backgroundblock);
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 60px;
  justify-content: center;
  padding: 24px 40px;
  position: relative;
}

.navContainer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 38px;
  position: relative;
}

.icon {
  height: 19px;
  margin-left: -1px;
  position: relative;
  width: 29px;
}

.logo {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.logoImage {
  height: 27px;
  width: 83px;
  fill:#00588a;
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:none;
}

.logoWrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 8px 0 0 ;
  position: relative;
}

.posco {
  height: 27.15px;
  position: relative;
  width: 83px;
}

.title {
  color: #111928;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.ctaButton {
  all: unset;
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  text-decoration: none; /* ✅ 밑줄 제거 */
}

.text {
  color: #111928;
  font: var(--font-caption-1b-pc);
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
