@import url('../../styles/global.css');

.filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: auto;
  border-radius: 6px;
  border: 1px solid var(--color-primary-lighter);
  padding: 8px;
  gap: 10px;
}

.component-title {
  font: var(--font-caption-1b-pc);
}

.filter-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center; /* 중앙 정렬 */
  gap: 10px;
}

.remove-btn {
  border: none;
  width: 16px;
  height: 32px;
  padding: 0;
  font-size: 24px; /* 글자 크기 조정 */
  font-weight: 600;
  color: var(--color-primary-main);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
