@import url('../../styles/global.css');

.snackbar {
  width: 80%;
  border-radius: 5px;
  background-color: var(--color-grayscale-7);
  padding: 15px 0px;
  position: relative;
  color: var(--color-grayscale-white);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 1000;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--font-body-1b-pc);
}
