@import '/src/styles/global.css';

.noticeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-system-caution);
  color: var(--color-background-general);
  padding: 28px 20px;
  border-radius: 10px;
  width: 544px;
  height: 82px;
}

.noticeContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.noticeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noticeHeader .title {
  font: var(--font-caption-1b-pc);
  margin: 20px 28px 10px 28px;
}

.noticeHeader .closeButton {
  margin: 20px 28px 10px auto;
  background-color: transparent;
  border: none;
  color: var(--color-grayscale-white);
  font: var(--font-caption-1b-pc);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.message {
  font: var(--font-caption-2r-pc);
  margin: 0px 28px 20px 28px;
}

.closeButton:hover {
  opacity: 0.7;
}
